# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE files
.idea/
.vscode/
build/
developer_tools/build_cache
.qoder/

# Logs
app.log
*.log

# Build artifacts
tray/.vs/
tray/out/
tray/build/

# Executables
*.exe
*.dll
*.lib
/build/Capture_Push_Installer/Analysis-00.toc
/Capture_Push_Installer.spec
/do.md
/build/GradeTracker_Installer/Analysis-00.toc
/build/Capture_Push_Installer/base_library.zip
/build/Capture_Push_Installer/Capture_Push_Installer.pkg
/build/Capture_Push_Installer/EXE-00.toc
/build/Capture_Push_Installer/PKG-00.toc
/build/Capture_Push_Installer/PYZ-00.pyz
/build/Capture_Push_Installer/PYZ-00.toc
/build/Capture_Push_Installer/warn-Capture_Push_Installer.txt
/build/Capture_Push_Installer/xref-Capture_Push_Installer.html
/PYTHON_SETUP_README.txt
