# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE files
.idea/
.vscode/

# Logs
app.log
*.log

# Build artifacts
tray/.vs/
tray/out/
tray/build/

# Executables
*.exe
*.dll
*.lib
/build/GradeTracker_Installer/Analysis-00.toc
/GradeTracker_Installer.spec
/do.md
